body {
  background-color: gray;
}
.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-radius: 15px;
  padding: 20px;
  width: 50%;
  
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}
input[type="password"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 50%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}
button {
  padding: 10px 20px;
  background-color: darkgray;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}
